@*<script type="text/javascript">
  
    $( document ).ready (function () {
            $('#CompanyName option:selected').remove();
            return false;
        });
   
    </script>*@
<h3>This just happened!</h3>